<div class="medium-grid-frame">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 grid-padding-y grid-padding-x">
        <br>
        <div class="feature-col">
          Filtros
        </div>
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><img src="../../assets/filters/search.svg"> Nombre del hotel</a>
            <div class="accordion-content" data-tab-content>
              <div class="medium-6 cell">
                <input type="text" placeholder="Ingrese el nombre del hotel">
              </div>
              <div class="medium-6 cell">
                <a class="button">Buscar</a>
              </div>  
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"> Estrellas</a>
            <div class="accordion-content" data-tab-content>
                <input id="checkbox3" type="checkbox"> Todas las estrellas
                <br />
                <input id="checkbox3" type="checkbox"> <img src="../../assets/filters/search.svg">
                <br />
                <input id="checkbox3" type="checkbox"> <img src="../../assets/filters/search.svg">
                <br />
                <input id="checkbox3" type="checkbox"> <img src="../../assets/filters/search.svg">
                <br />
                <input id="checkbox3" type="checkbox"> <img src="../../assets/filters/search.svg">
                <br />
                <input id="checkbox3" type="checkbox"> <img src="../../assets/filters/search.svg">
            </div>
          </li>
          <!-- <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Accordion 3, you can't open me.</a>
            <div class="accordion-content" data-tab-content>
              Panel 3. Lorem ipsum dolor
            </div>
          </li> -->
        </ul>
      </div>
      <div class="cell medium-4 medium-cell-block-y">
        <div class="row small-up-2 medium-up-3">
          <div class="column row">
            <br>
            <div class="card">
              <img src="http://placehold.it/600x300">
              <div class="card-divider">
                This is a header
              </div>
              <div class="card section">
                <h4>This is a card</h4>
                <p>IT is an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div class="row small-up-2 medium-up-3">
  <div class="column">
    <div class="card">
      <img src="http://placehold.it/600x300">
      <div class="card-divider">
        This is a header
      </div>
      <div class="card section">
        <h4>This is a card</h4>
        <p>IT is an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <input [(ngModel)]="pipe" />
{{ pipe }}
<div *ngFor="let hotel of hotels">
  {{ hotel.id }}
  {{ hotel.name }}
  {{ hotel.stars }}
  {{ hotel.price }}
  {{ hotel.image }}
  {{ hotel.amenities }}
</div> -->
