<div class="medium-grid-frame">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 grid-padding-y grid-padding-x">
        <h2>FILTER</h2>
      </div>
      <div class="cell medium-4 medium-cell-block-y">
        <div class="row small-up-2 medium-up-3">
          <div class="column">
            <br>
            <div class="card">
              <img src="http://placehold.it/600x300">
              <div class="card-divider">
                This is a header
              </div>
              <div class="card section">
                <h4>This is a card</h4>
                <p>IT is an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div class="row small-up-2 medium-up-3">
  <div class="column">
    <div class="card">
      <img src="http://placehold.it/600x300">
      <div class="card-divider">
        This is a header
      </div>
      <div class="card section">
        <h4>This is a card</h4>
        <p>IT is an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <input [(ngModel)]="pipe" />
{{ pipe }}
<div *ngFor="let hotel of hotels">
  {{ hotel.id }}
  {{ hotel.name }}
  {{ hotel.stars }}
  {{ hotel.price }}
  {{ hotel.image }}
  {{ hotel.amenities }}
</div> -->
